## Loading the libraries

In [1]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

## Loading the matches data

In [58]:
data = pd.read_csv('Matchesinfo.csv')
data.head()

,Team1,Team2,Winner,Margin,Ground,Date,Link
0,West Indies,England,West Indies,9 wickets,Bridgetown,"Jan 22, 2022",https://stats.espncricinfo.com/ci/engine/match...
1,West Indies,England,England,1 run,Bridgetown,"Jan 23, 2022",https://stats.espncricinfo.com/ci/engine/match...
2,West Indies,England,West Indies,20 runs,Bridgetown,"Jan 26, 2022",https://stats.espncricinfo.com/ci/engine/match...
3,West Indies,England,England,34 runs,Bridgetown,"Jan 29, 2022",https://stats.espncricinfo.com/ci/engine/match...
4,West Indies,England,West Indies,17 runs,Bridgetown,"Jan 30, 2022",https://stats.espncricinfo.com/ci/engine/match...

## Adding the match_id column to the matches data

In [32]:
data['match_id'] = data['Link'].apply(lambda x: 'T20 # '+str(x.split('/')[-1].split('.')[0]))
data.drop('Link', axis=1, inplace=True)

(926, 8)

## Saving the transformed match data csv file

In [36]:
df.to_csv('Transformed Data/matchesinfo.csv', index=False, index_label=False)

## Loading the batting data

In [42]:
bat = pd.read_csv('Transformed Data/battinginfo.csv')
bat.head()

,Match,Team,Position,Player,Runs,Balls,Fours,Sixes,Strike Rate,out/not out,match_id
0,England vs West Indies,England,1,Jason Roy,6,6,0,1,100.00,out,T20 # 1256720
1,England vs West Indies,England,2,Tom Banton,4,5,1,0,80.00,out,T20 # 1256720
2,England vs West Indies,England,3,James Vince,14,12,2,1,116.66,out,T20 # 1256720
3,England vs West Indies,England,4,Moeen Ali,0,1,0,0,0.00,out,T20 # 1256720
4,England vs West Indies,England,5,Eoin Morgan,17,29,0,1,58.62,out,T20 # 1256720

## Renaming the columns

In [40]:
bat.rename(columns={'Batsmen':'Player'}, inplace=True)

,Match,Team,Position,Player,Runs,Balls,Fours,Sixes,Strike Rate,out/not out,match_id
0,England vs West Indies,England,1,Jason Roy,6,6,0,1,100.00,out,T20 # 1256720
1,England vs West Indies,England,2,Tom Banton,4,5,1,0,80.00,out,T20 # 1256720
2,England vs West Indies,England,3,James Vince,14,12,2,1,116.66,out,T20 # 1256720
3,England vs West Indies,England,4,Moeen Ali,0,1,0,0,0.00,out,T20 # 1256720
4,England vs West Indies,England,5,Eoin Morgan,17,29,0,1,58.62,out,T20 # 1256720

## Adding the 'out/not out' column to the data

In [89]:
data2['out/not out'].value_counts()

out        11913
not out     3199
Name: out/not out, dtype: int64

In [85]:
data2['out/not out'] = data2['Dismissal'].apply(lambda x: 'out' if x!='not out ' else 'not out')
data2.shape

(15112, 12)

## Removing the Link and Dismissals column from the data

In [90]:
data2.drop(['Link','Dismissal'], axis=1, inplace = True)

## Program to add match_id to every player in batsmen info data

In [181]:
m = 0
c = 0
for i in range(bat.shape[0]):# 0 - 15112
    bat['match_id'][i] = mat['match_id'][m]
    if bat['Position'][i]==1:
        c+=1
        if c==3:
            c=1
            m+=1
            bat['match_id'][i]=mat['match_id'][m]

## Saving the transformed batting data to csv

In [41]:
bat.to_csv('Transformed Data/battinginfo.csv', index=False, index_label=False)

## Loading the bowling data and dropping the Link column

In [2]:
ball = pd.read_csv('Bowlinginfo.csv')
ball.drop('Link', axis=1, inplace=True)

## Loading the transformed matches column

In [33]:
mat = pd.read_csv('Transformed Data/matchesinfo.csv')
mat.head()

,Team1,Team2,Winner,Margin,Ground,Date,match_id
0,West Indies,England,West Indies,9 wickets,Bridgetown,22-Jan-22,T20 # 1256720
1,West Indies,England,England,1 run,Bridgetown,23-Jan-22,T20 # 1256721
2,West Indies,England,West Indies,20 runs,Bridgetown,26-Jan-22,T20 # 1256722
3,West Indies,England,England,34 runs,Bridgetown,29-Jan-22,T20 # 1256723
4,West Indies,England,West Indies,17 runs,Bridgetown,30-Jan-22,T20 # 1256724

## Program to add match_id to the bowling data

In [25]:
m = 0
c = 0
for i in range(ball.shape[0]-1):
    x = ball['Team'][i]
    ball['match_id'][i] = mat['match_id'][m]
    if (ball['Match'][i] != ball['Match'][i+1]):
        m+=1
        c=0
    elif (x!=ball['Team'][i+1]):
        c+=1
        if c==2:
            c=0
            m+=1
    ball['match_id'][11110] = mat['match_id'][925]

## Rename the bowler column to player

In [ ]:
ball.rename(columns={'Bowler':'Player'}, inplace=True)

## Saving the transformed bowler's data

In [32]:
ball.to_csv('Transformed Data/bowlerinfo.csv', index=False, index_label=False)

## Loading the player's data

In [2]:
player = pd.read_csv('Playerinfo.csv')
player.shape

(2057, 7)

## Getting the data with image links

In [3]:
player_with_images = player[player['Image'].notnull()]

## Getting the data with descriptions

In [4]:
player_with_images = player_with_images[player_with_images['Description'].notnull()]
player_with_images.shape

(372, 7)

## Renaming the column batsmen to player

In [81]:
player_with_images.rename(columns={'Batsmen':'Player'}, inplace=True)

## Saving the player data into csv

In [17]:
player_with_images.to_csv('Transformed Data/image_player.csv', index=False, index_label=False)